{% extends 'base.html' %}
{% block title %}Categories{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">
        <br>
        <div class="row m-2">
            <div class="col-4">
                <div class="card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name </th>
                                <th>Total Items</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                            <tr>
                                <td>{{ category.pk }}. </td>
                                <td>{{ category.name }}</td>
                                <td>10</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    {% for category in categories %}
                    <div class="col-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{ category.image.url }}" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">{{ category.name }}</h5>
                              <p class="card-text">{{ category.description|truncatechars:100 }}</p>
                              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                          </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}