{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">
        <br>
        <div class="row-2">
            <div class="col-12">
                <div class="card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Total Products</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for brand in brands %}
                            <tr>
                                <td>{{ brand.pk }}</td>
                                <td>{{ brand.name }}</td>
                                <td>{{ brand.description }}</td>
                                <td>{{ 10 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-8">

            </div>
        </div>
    </div>
</div>
{% endblock content %}